<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/style.css">
        <title>News Analyzer</title>
    </head>
    <body>
        <h1>News Analyzer</h1>
    </body>
    <footer>
        <p>&copy; <script>document.write(new Date().getFullYear())</script> <a target="_blank" rel="noopener" href="https://tyknkd.github.io">Tyler Kinkade</a> All Rights Reserved</p>
    </footer>
</html>